@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
    .writing-mode-vertical-lr {
        writing-mode: vertical-lr;
    }

    .scroll-snap-align-start {
        scroll-snap-align: start;
    }

    .scroll-snap-align-none {
        scroll-snap-align: none;
    }

    .scroll-snap-none {
        scroll-snap-type: none;
    }

    .scroll-snap-mandatory-x {
        scroll-snap-type: x mandatory;
    }

    .scroll-behavior-smooth {
        scroll-behavior: smooth;
    }

    .scroll-behavior-auto {
        scroll-behavior: auto;
    }
}
@layer components {
    .bg-striped {
        background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000000' fill-opacity='0.15' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
    }
}
[x-cloak] {
    display: none;
}
